<app-navbar></app-navbar>


<div class="wraper">
  <div class="body" >

  <div >
  <div>
    <h1 class="mt-3 mb-3">Recuperar Contraseña</h1>
    <h6 class="mt-3 mb-3">Valida tu correo</h6>
  </div>

  <div class="form-floating mb-3">
  <input type="email" class="form-control" id="email"  [(ngModel)]="email" placeholder="name@example.com">
  <label for="email">Correo Electronico</label>
</div>
<div class="form-floating">



  <div class="d-grid gap-2 mt-3">
  <button class="btn btn-primary" type="button" (click)="sendEmail()" >Validar</button>



</div>


<p class="mt-3"> No tengo cuenta <a href="/singIn">Registrame</a></p>


</div>
</div>
<div>  <p id="alert" [innerHTML]="alertTexto"></p></div>


  </div>

</div>
  <div>  <p id="veryfi" style="color: green;" [innerHTML]="veryfiTexto"></p></div>
  <div *ngIf="loadingImg" > <a  href="https://mail.google.com" target="_blank"><img id="gm" src="gm.jpg" alt=""></a></div>
  <app-spinner *ngIf="loading"></app-spinner>

