<app-navbar></app-navbar>

<div class="main-layout">
    <app-sidebar></app-sidebar>

    <div class="module-container">
        <div class="module-item">
            <div class="module-icon"><img src="../cash-register.png" alt="" id="casio" (click)="S800()"></div>
            <div class="module-label">Casio S-800</div>
        </div>

        <div class="module-item">
            <div class="module-icon"><img src="../cash-register (1).png" alt="" id="casio" (click)="T500()" ></div>
            <div class="module-label">Casio T-500</div>
        </div>

        <div class="module-item">
            <div class="module-icon" (click)="modern()" >💻</div>
            <div class="module-label">POS Moderno</div>
        </div>

        <div class="module-item">
            <div class="module-icon"><img src="../add.png" alt="" id="casio" (click)="more()"></div>
            <div class="module-label">Mas POS</div>
        </div>
    </div>
</div>
