<app-navbar></app-navbar>

<div class="wraper">
  <div class="body">
    <div>
      <h1 class="mt-1 mb-2">Bienvenido</h1>
      <h6 class="mt-1 mb-2">Iniciar Sesion</h6>
    </div>

    <div class="form-floating mb-3">
      <input type="email" class="form-control" id="email" [(ngModel)]="email" placeholder="name@example.com" (change)="markAsDirty()">
      <label for="email">Correo Electronico</label>
    </div>

<div class="form-floating mb-3 position-relative">
  <input
    [type]="verPassword ? 'text' : 'password'"
    class="form-control"
    id="password"
    [(ngModel)]="password"
    placeholder="Password">
  <label for="password">Contrasena</label>

 <button
  type="button"
  class="btn position-absolute top-50 end-0 translate-middle-y me-2"
  (click)="verPassword = !verPassword"
  style="z-index: 10;">

  <i *ngIf="verPassword" class="bi bi-eye-slash text-dark"></i>

  <i *ngIf="!verPassword" class="bi bi-eye text-dark"></i>

  <span class="ms-1" style="font-size: 0.8rem;">
    {{ verPassword ? 'Ocultar' : 'Ver' }}
  </span>
</button>
</div>

    <div class="mb-3 d-flex justify-content-center">
      <re-captcha
        (resolved)="resolved($event)"
        (errorCallback)="onError($event)">
      </re-captcha>
    </div>

    <div class="d-grid gap-2 mt-3">
      <button
        class="btn btn-primary"
        type="button"
        (click)="login()"
        [disabled]="!recaptchaToken || loading">
        Entrar
      </button>

    <div class="google-btn-container">
  <asl-google-signin-button
    type="standard"
    size="large"
    text="signin_with"
    shape="rectangular"

    >
  </asl-google-signin-button>
</div>
    </div>

    <p class="mt-3">No tengo cuenta <a href="/singIn">Registrarme</a></p>
    <p class="mt-3"><a href="/forgotPassword">Olvide mi contrasena</a></p>

    <div><p id="alert" [innerHTML]="alertTexto" class="text-danger"></p></div>
    <app-spinner *ngIf="loading"></app-spinner>
  </div>
</div>
