

    <div class="main-container">

        <aside class="sidebar">

        <div class="module">
  <button class="btn btn-transparent" (click)="goBack()">
    <img src="backArrow.png" style="width: 40%;" alt="Volver">
  </button><hr>
</div>
            <ul>
                <li><a href="/dashboard">Inicio</a></li>
                <li><a href="/dashboard">Soporte</a></li>
                <li><a href="/product">Productos</a></li>
                <li><a href="/dashboard">Contabilidad</a></li>
                <li><a href="/posVersion">Punto de Venta</a></li>
                <li><a href="/dashboard">Ajustes</a></li>




            </ul>

        </aside>


    </div>

